<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомления</title>
</head>
<body>
    <h1>Уведомления</h1>

    <ul id="notifications">
        <!-- Уведомления будут добавляться здесь -->
    </ul>

    <script>
        const token = localStorage.getItem('token');
        if (!token) {
            alert('Вы не авторизованы');
            window.location.href = '/login/';
        }

        const wsUrl = `ws://${window.location.host}/ws/notifications/`;
        const notificationSocket = new WebSocket(wsUrl);

        notificationSocket.onopen = function () {
            console.log("WebSocket подключен.");
        };

        notificationSocket.onmessage = function(e) {
        try {
            console.log("Получено сообщение от WebSocket:", e.data);
            const data = JSON.parse(e.data);
            const message = data.message;

            console.log("Сообщение:", message);

            const notificationsList = document.getElementById("notifications");
            const newNotification = document.createElement("li");
            newNotification.textContent = message;
            notificationsList.appendChild(newNotification);
            } catch (error) {
                console.error("Ошибка обработки сообщения:", error);
            }
        };

        notificationSocket.onerror = function(e) {
            console.error('Ошибка WebSocket:', e);
        };

        notificationSocket.onclose = function(e) {
            console.warn('WebSocket закрыт:', e.code, e.reason);
            if (e.code !== 1000) {
                alert('Соединение с сервером было закрыто. Перезагрузите страницу.');
            }
        };
    </script>
</body>
</html>